# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Logs & temp
# =========================
*.log
*.pid

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
